{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio Sesion{% endblock %}

{% block body %}
<div class="content bg-light rounded w-50 mt-5 mb-5 m-auto row ">
    <h1>Iniciar sesión</h1>
    <form action="" id="formularioInicioSesion">
        <br>
        <div class="mb-3 text-center">
            <label for="inputUsuario">Usuario</label>
            <input type="text" class="form-control text-center" id="inputUsuario" placeholder="Escribe tu usuario">
        </div>
        <div class="mb-3 text-center">
            <label for="inputContra">Contraseña</label>
            <input type="text" class="form-control text-center" id="inputContra"
                placeholder="Escribe tu Contraseña">
        </div>
        <button class="btn m-3 fw-bold" id="btnIniciarSesion" style="background-color: #ffce3c; color: white;"
            >
            INICIAR SESION
        </button>
    </form>
</div>
{% endblock %}

{% block footer %}
<footer>
    <div class="contenedorFooter fw-bold" style="background-color: #ffce3c;">
        <div class="miniBox">
            <div class="box m-3">
                <p>La Calidad de la Vega a tu alcance</p>
               
            </div>
        </div>
        <div class="miniBox">
            <div class="box">
                <p><a href="https://www.facebook.com"><box-icon type='logo' name='facebook'></box-icon></a></p>
                <p><a href="https://www.instagram.com"><box-icon name='instagram' type='logo'></box-icon></a></p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

</html>
{% block js_ %}
  <script src="{% static 'core/js/funciones.js' %}"></script>
  <script src="{% static 'core/js/array.js' %}"></script>
  <script src="{% static 'core/js/efectos.js' %}"></script>
  <script src="{% static 'core/js/script_key.js' %}"></script>
  <script src="{% static 'core/js/form.js' %}"></script>
{% endblock %}