<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    
    {% block css_ %}{% endblock %}
    <link id="icon_page" rel="icon" href="{% static 'core/img/ig_logo.png' %}" type="icon/x-image">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <title>VeguitaClick</title>
</head>
<body data-bs-theme="light" id="body" >
  <header> 
    <div class="container-fluid py-4" id="header">
      <div class="row"> <!-- Header -->
        <div class="col-6"> <!-- Brand -->
          <div class="row">
            <div class="col-2 col-lg-1">
              <a class="navbar-brand " href="{% url 'home' %}">
                <img id="nav-logo" src="{% static 'core/img/logo.png' %}" alt="logo">
              </a>
            </div>
            <div class="col-9"> <!-- Encabezados -->
              <div class="row row-cols-1" id="header-title">
                <div class="col mb-1">
                  <h3>La VeguitaClick</h3>
                </div>
                <div class="col">
                  <h6>Frutería y Verdulería</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5 col-lg-3 m-auto me-1"> <!-- Widget clima y fecha -->
          <div class="card mw-50 w-auto" id="widget-fecha">
            <div class="row">
              <div class="col-6"> <!-- Clima -->
                <div class="row">
                  <div id="img-clima" class="col-4 my-auto"></div>
                  <div class="col-8 pe-0">
                    <div class="row row-cols-1">
                      <div id="temperatura" class="col pt-3 pb-0"></div>
                      <div id="descripcion-clima" class="col pt-0 mt-0"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fecha y hora -->
              <div class="col-6">
                <div class="row row-cols-1"></div>
                  <div id="hora" class="col text-center pt-2 pb-0"></div>
                  <div id="fecha"  class="col text-center pt-0 mt-0"></div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark text-white">
      <div class="container-fluid"> 
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-lg-2">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item ms-lg-2">
              <a class="nav-link" href="{% url 'products' %}">Catálogo</a>
            </li>
            {% if  request.user.is_authenticated %}
            <li class="nav-item ms-lg-2">
                <a class="nav-link" href="{% url 'exit' %}">Salir</a>
            {% else %}    
            </li>
            <li class="nav-item ms-lg-2">
              <a class="nav-link" href="{% url 'home' %}">Registrate!</a>
            </li>
            {% endif %}
          </ul>
          {% if request.user.is_authenticated %}
          {% block title %}Bienvenido {{request.session.usuario.first_name}} {{request.session.usuario.last_name}}{% endblock %}
          {% endif %}
        </div>
     </div>
    </nav>
  </header> 
  
  <main>
    {% block content %}{% endblock %}
    {% block second_content %}{% endblock %}
    {% block body %}{% endblock %}
</main>
  
    
  <footer class="footer text-light">
    <div class="container" id="container-footer">
      <div class="row">
        <div class="col-4 px-2 mb-4 mb-md-0 mx-auto">
          <div id="googleMap" style="width:100%;height:60%;"></div>
          <ul class="list-unstyled quick-info my-4">
            <li>
              <a href="#" class="d-flex align-items-center">
                <span class="me-2"><i class="bi bi-whatsapp"></i></span> +56 9 6991 7034
              </a>
            </li>
            <li>
              <a href="#" class="d-flex align-items-center">
                <span class="me-2"><i class="bi bi-geo-alt-fill"></i></span> Padre Mariano 82, of. 1202, Providencia.
              </a>
              </li>
          </ul>
        </div>
        <div class="col-4 px-2 mb-4 mb-md-0 mx-auto" id="footer-nav">
          <h4>Mapa del Sitio</h4> <!--Esto no sé si sera obligarotio en una web-->
          <hr class="text warning">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}">Catalogo</a>
              {% if  request.user.is_authenticated %}
              <li class="nav-item ms-lg-2">
                  <a class="nav-link" href="{% url 'exit' %}">Salir</a>
              {% else %}    
              </li>
              <li class="nav-item ms-lg-2">
                <a class="nav-link" href="{% url 'home' %}">Registrate!</a>
              </li>
              {% endif %}
            </ul>
          </ul>
        </div>
        <div class="col-md col-lg-3 px-2 mb-md-0 mx-auto" id="instagram">
          <h3>Instagram</h3>
          <div class="row">
            <div class="col-lg-6 col-md-5 pe-0 ">
              <a href="https://www.instagram.com/p/CsJfkJKu-Av/?utm_source=ig_embed&amp;utm_campaign=loading">
                <img src="{% static 'core/img/footer/ig-img_1.jpg'%}" alt="" class="img-footer img-fluid mb-1 me-lg-1 me-md-1">
              </a>
              <a href="https://www.instagram.com/p/CpPhQUZObXf/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==">
                <img src="{% static 'core/img/footer/ig-img_2.jpg'%}" alt="" class="img-footer img-fluid  me-md-1">
              </a>
            </div>
            <div class="col-lg-6 col-md-5 ps-0">
              <a href="https://www.instagram.com/p/CsRDwXyufTn/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==">
                <img src="{% static 'core/img/footer/ig-img_3.jpg'%}" alt="" class="img-fluid mb-1 me-lg-1 ms-md-1">
              </a>
              <a href="https://www.instagram.com/p/Cfgw6qpOjFb/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==">
                <img src="{% static 'core/img/footer/ig-img_4.jpg'%}" alt="" class="img-fluid ms-md-1">
              </a>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt3ixABltNzmL_-1YiKKy2uKEksuLwnGI&callback=myMap"></script>
  {% block js_ %}{% endblock %}

</body>
</html>