{% extends 'core/base.html' %}

{% load static %}
{% load humanize %}
{% block title %}Catalogo de Productos{% endblock %}

{% block body %}
<section class="container mt-4">    
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 gy-3">
        {% for p in products %}
        <div class="col">
            <div class="container-items">
              <div class="item">
                <figure>
                {% if p.image %}
                <img src="{{p.image.url}}"  alt="{{p.name}}">
                {% else %}
                <img src="{% static 'crud/img/image_not_found.jpg' %}"  alt="Image not found">
                {% endif  %}
                </figure>
                  <div class="container text-center">
                    <p class="card-text fst-italic">
                        <a>{{p.tipo}}</a>
                    </p>
                    <p class="card-text fst-italic">
                      <a>{{p.weight}} {{p.tipo_peso}}</a>
                  </p>
                    <p class="card-title fw-bold">{{p.name}}</p>
                    <h4 class="card-text">${{p.price|intcomma}}</h4>
                    <a data-product="{{p.id}}" data-action="add" class="btn btn-dark pt-1 mb-2 add-btn update-cart" href="#">Añadir al Carrito</a>
                  </div>
              </div>
            </div>   
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block js_ %}
  <script src="{% static 'core/js/funciones.js' %}"></script>
  <script src="{% static 'core/js/array.js' %}"></script>
  <script src="{% static 'core/js/efectos.js' %}"></script>
  <script src="{% static 'core/js/script_key.js' %}"></script>
  <script src="{% static 'core/js/form.js' %}"></script>
{% endblock %}
