{% extends 'crud/base.html' %}

{% load static %}

{% block title %}Productos{% endblock %}

{% block main_content %}
<div class="container-fluid">
<main>
<header>
   <div class="container my-2 p-2 text-white text-center rounded bg-success">
      <h1>Administrador de Productos</h1>
   </div>
</header>
 <div class="container my-2">
    <div class="row">
        {% if 'OK' in request.GET %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
             Producto registrado con exito!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'FAIL' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
             Se produjo un error, vuelve a intentarlo.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'NO_EXISTS' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            No se encontró el producto indicado en nuestros datos.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'UPDATED' in request.GET %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            Producto actualizado correctamente!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'DELETED' in request.GET %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Producto eliminado correctamente!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
    </div>
 </div>

 <div class="container-fluid my-2">
     <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-success">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Proveedor</th>
                    <th>Tipo de Producto</th>
                    <th>Valor</th>
                    <th>Peso</th>
                    <th>Unidad de Medida</th>
                    <th>Stock</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in producto %}
                <tr>
                    <td>{{p.idProducto}}</td>
                    <td>{{p.name}}</td>
                    <td>
                        <a class=" text-dark" href="/crud/producto/proveedor/{{p.producto.id}}">{{p.proveedor}}</a>
                    </td>
                    <td>
                        <a class=" text-dark" href="/crud/producto/tipo/{{p.tipo}}">{{p.tipo}}</a>
                    </td>
                    <td>{{p.value}}</td>
                    <td>{{p.peso}}</td>
                    <td>{{p.tipo_peso}}</td>
                    <td>{{p.stock}}</td>
                    <td>
                        {% if p.image %}
                        <img class="img-producto" src="{{p.image.url}}" alt="{{p.name}}">
                        {% else%}
                        <img class="img-producto" src="{% static 'crud/img/image_not_found.jpg' %}" alt="INF">
                        {% endif %}
                    </td>
                    <td>
                        <a class="text-decoration-none" href="{% url 'producto-detail' producto_id=p.idProducto %}">
                            <span class="text-primary fs-2">
                                <i class="fa-solid fa-eye"></i>
                            </span>
                        </a>
                        <a class="text-decoration-none" href="{% url 'producto-edit' producto_id=p.idProducto %}">
                            <span class="text-warning fs-2">
                                <i class="fa-solid fa-pencil"></i>
                            </span>
                        </a>
                        <a class="text-decoration-none modal-borrar" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                            data-href="{% url 'producto-delete' producto_id=p.idProducto %}">
                            <span class="text-danger fs-2">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                        </a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Atencion!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="modal-title">Estas seguro que deseas eliminar el producto seleccionado?<br>Esta acción no se puede deshacer.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
                <a href="#" id="confirmar-borrar" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    $('.modal-borrar').on('click',function(){
        const href = $(this).attr('data-href');
        $('#confirmar-borrar').attr('href',href);
    });
</script>
{% endblock %}